In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
### para llmar funciones
import sys
sys.path.append('../')
from src import soporte_limpieza as sl

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
### esto para llama funciones
### df['nombrecolumnanueva'] = df['col'].apply(sl.sumar)

In [5]:
### Importación de los archivos

df_2013 = pd.read_csv("../datos/datos-2013.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
df_2014 = pd.read_csv("../datos/datos-2014.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
df_2015 = pd.read_csv("../datos/datos-2015.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
df_2016 = pd.read_csv("../datos/datos-2016.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO']) 
df_2017 = pd.read_csv("../datos/datos-2017.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO']) 
df_2018 = pd.read_csv("../datos/datos-2018.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO']) 
df_2019 = pd.read_csv("../datos/datos-2019.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO']) 
df_2020 = pd.read_csv("../datos/datos-2020.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO']) 
df_2021 = pd.read_csv("../datos/datos-2021.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])

C:\Users\DELL\AppData\Local\Temp\ipykernel_5596\1337882092.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_2013 = pd.read_csv("../datos/datos-2013.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_5596\1337882092.py:4: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_2014 = pd.read_csv("../datos/datos-2014.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_5596\1337882092.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_2015 = pd.read_csv("../datos/datos-2015.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])

C:\Users\DELL\AppData\Local\Temp\ipykernel_5596\1337882092.py:7: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_2017 = pd.read_csv("../datos/datos-2017.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_5596\1337882092.py:8: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_2018 = pd.read_csv("../datos/datos-2018.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_5596\1337882092.py:10: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_2020 = pd.read_csv("../datos/datos-2020.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_5596\1337882092.py:11: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_2021 = pd.read_csv("../datos/datos-2021.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])

* EDA INICIAL

Comprobamos que el número de columnas fuera igual en todos los dataframes.

Nos dimos cuenta de que los ingresos y las fechas estaban en formato object. Además las fechas de 2016 y 2019 estaban ordenadas en día, mes y año en lugar de año, mes y día.

Nos dimos cuenta de que utilizando los códigos podríamos rellenar algunos nan de los nombres de organizaciones y viceversa, usando nombres hemos rellenado códigos.

Nos dimos cuenta que algunas columnas ya incluían un valor de Sem informaçao donde podíamos agrupar con los nan pues reflejan lo mismo.

Después de importar los Data Frames de manera individual, hemos creado una lista con esos años para aplicarla en el mergeo. De esta forma tenemos todos los años completos. 

Hemos identificado los tipos de datos que tenemos en nuestro csv para saber cuáles modificar para poder trabajar con ellos.

In [6]:
df_2019["DATA LANÇAMENTO"] = pd.to_datetime(df_2019["DATA LANÇAMENTO"], format="%d/%m/%Y")
df_2019["DATA LANÇAMENTO"]  #cambio a fecha

df_2016["DATA LANÇAMENTO"] = pd.to_datetime(df_2016["DATA LANÇAMENTO"], format="%d/%m/%Y")
df_2016["DATA LANÇAMENTO"]  #cambio a fecha

### esto debido a que no todas tenían el mismo formato

0        2016-04-04
1        2016-12-08
2        2016-08-22
3        2016-03-21
4        2016-11-04
            ...
194528   2016-01-11
194529   2016-01-21
194530   2016-01-20
194531   2016-02-26
194532   2016-01-13
Name: DATA LANÇAMENTO, Length: 194533, dtype: datetime64[ns]

In [7]:
### llena los años

listadf = [df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021]
lista_años = [2013,2014,2015,2016,2017,2018,2019,2020,2021]
def fillyear(df,year):
    df['ANO EXERCÍCIO'] = df['ANO EXERCÍCIO'].fillna(year)
    return df

In [8]:
listadf_anos =list(map(fillyear, listadf, lista_años))

In [9]:
df_llena = pd.concat(listadf_anos).reset_index(drop=True)
df_llena['ANO EXERCÍCIO'] = df_llena['ANO EXERCÍCIO'].astype(int)

In [10]:
### aquí voy rellenando los nombres en base a sus respectivos códigos

df_llena['NOME ÓRGÃO SUPERIOR'] = df_llena.groupby('CÓDIGO ÓRGÃO SUPERIOR')['NOME ÓRGÃO SUPERIOR'].transform(lambda x: x.fillna(method='ffill'))
df_llena['NOME ÓRGÃO SUPERIOR'].info() #Columna codigo y nombre

df_llena['NOME ÓRGÃO'] = df_llena.groupby('CÓDIGO ÓRGÃO')['NOME ÓRGÃO'].transform(lambda x: x.fillna(method='ffill'))
df_llena['NOME ÓRGÃO'].info() #Columna codigo y nombre

df_llena['CÓDIGO UNIDADE GESTORA'] = df_llena.groupby('NOME UNIDADE GESTORA')['CÓDIGO UNIDADE GESTORA'].transform(lambda x: x.fillna(method='ffill'))
df_llena['CÓDIGO UNIDADE GESTORA'] #Columna codigo y nombre

C:\Users\DELL\AppData\Local\Temp\ipykernel_5596\3588227548.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_llena['NOME ÓRGÃO SUPERIOR'] = df_llena.groupby('CÓDIGO ÓRGÃO SUPERIOR')['NOME ÓRGÃO SUPERIOR'].transform(lambda x: x.fillna(method='ffill'))

<class 'pandas.core.series.Series'>
RangeIndex: 1026299 entries, 0 to 1026298
Series name: NOME ÓRGÃO SUPERIOR
Non-Null Count   Dtype
--------------   -----
995921 non-null  object
dtypes: object(1)
memory usage: 7.8+ MB

C:\Users\DELL\AppData\Local\Temp\ipykernel_5596\3588227548.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_llena['NOME ÓRGÃO'] = df_llena.groupby('CÓDIGO ÓRGÃO')['NOME ÓRGÃO'].transform(lambda x: x.fillna(method='ffill'))

<class 'pandas.core.series.Series'>
RangeIndex: 1026299 entries, 0 to 1026298
Series name: NOME ÓRGÃO
Non-Null Count    Dtype
--------------    -----
1001164 non-null  object
dtypes: object(1)
memory usage: 7.8+ MB

C:\Users\DELL\AppData\Local\Temp\ipykernel_5596\3588227548.py:9: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_llena['CÓDIGO UNIDADE GESTORA'] = df_llena.groupby('NOME UNIDADE GESTORA')['CÓDIGO UNIDADE GESTORA'].transform(lambda x: x.fillna(method='ffill'))

0          110060.0
1          110060.0
2          110060.0
3          110060.0
4          110060.0
             ...
1026294    243001.0
1026295    243001.0
1026296    243001.0
1026297    243001.0
1026298    243001.0
Name: CÓDIGO UNIDADE GESTORA, Length: 1026299, dtype: float64

In [11]:
df_llena.sample(5)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
874789,32000.0,Ministério de Minas e Energia,32205.0,"Agência Nacional do Petróleo, Gás Natural e Bi...",323030.0,AG. NAC.DO PETROLEO GAS NAT.E BIOCOM,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.,"0,00","0,00","170655,19","0,00",2020-02-20,2020
859885,30000.0,Ministério da Justiça e Segurança Pública,30912.0,Fundo Nacional Antidrogas,200246.0,FUNDO NACIONAL ANTIDROGAS,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",NaN,TX.CONTROLE E FISCALIZ.PROD.QUÍMICOS-PRINC.,"0,00","0,00","27204,28","0,00",2020-03-13,2020
500911,26000.0,Ministério da Educação,26264.0,Universidade Federal Rural do Semi-Árido,153033.0,UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN,Receitas Correntes,Receita Agropecuária,Receita Agropecuária,RECEITA AGROPECUÁRIA-PRINCIPAL,"0,00","0,00","828,00","0,00",2018-08-08,2018
430066,25000.0,Ministério da Economia,25000.0,Ministério da Economia - Unidades com vínculo ...,170013.0,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,Receita de Serviços,Serviços e Atividades Financeiras,"RETORNO DE OP.,JUR.E ENC.FINANCEIROS-PRINC.","0,00","0,00","56780280,20","0,00",2018-04-27,2018
521986,26000.0,Ministério da Educação,26290.0,Instituto Nacional de Estudos e Pesquisas Educ...,153978.0,INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.","0,00","0,00","19488,00","0,00",2018-05-30,2018

In [12]:
df_llena['PERCENTUAL REALIZADO'] = df_llena['PERCENTUAL REALIZADO'].str.replace(',', '.')
df_llena["PERCENTUAL REALIZADO"] = df_llena["PERCENTUAL REALIZADO"].astype(float) ### convierto esta columna a float

In [13]:
df_llena.duplicated().sum()

np.int64(172)

In [14]:
df_llena.drop_duplicates(keep= "first", inplace=True) ### elimina los duplicados y se queda con el indice lista del ultimo

In [15]:
df_llena.duplicated().sum()

np.int64(0)

In [16]:
df_llena['VALOR PREVISTO ATUALIZADO'] = df_llena['VALOR PREVISTO ATUALIZADO'].str.replace(',', '.')
df_llena["VALOR PREVISTO ATUALIZADO"] = df_llena["VALOR PREVISTO ATUALIZADO"].astype(float)

df_llena['VALOR LANÇADO'] = df_llena['VALOR LANÇADO'].str.replace(',', '.')
df_llena["VALOR LANÇADO"] = df_llena["VALOR LANÇADO"].astype(float)

df_llena['VALOR REALIZADO'] = df_llena['VALOR REALIZADO'].str.replace(',', '.')
df_llena["VALOR REALIZADO"] = df_llena["VALOR REALIZADO"].astype(float)

### convierto estas columnas a float

In [17]:
df_llena['VALOR PREVISTO ATUALIZADO'].sample(5)

895138    0.0
326143    0.0
901673    0.0
980497    0.0
715358    0.0
Name: VALOR PREVISTO ATUALIZADO, dtype: float64

In [18]:
df_llena.duplicated().sum()

np.int64(0)

In [19]:
df_llena[df_llena.duplicated(keep=False)]

Empty DataFrame
Columns: [CÓDIGO ÓRGÃO SUPERIOR, NOME ÓRGÃO SUPERIOR, CÓDIGO ÓRGÃO, NOME ÓRGÃO, CÓDIGO UNIDADE GESTORA, NOME UNIDADE GESTORA, CATEGORIA ECONÔMICA, ORIGEM RECEITA, ESPÉCIE RECEITA, DETALHAMENTO, VALOR PREVISTO ATUALIZADO, VALOR LANÇADO, VALOR REALIZADO, PERCENTUAL REALIZADO, DATA LANÇAMENTO, ANO EXERCÍCIO]
Index: []

In [20]:
df_llena.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026127 entries, 0 to 1026298
Data columns (total 16 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   CÓDIGO ÓRGÃO SUPERIOR      995768 non-null   float64
 1   NOME ÓRGÃO SUPERIOR        995749 non-null   object
 2   CÓDIGO ÓRGÃO               1001010 non-null  float64
 3   NOME ÓRGÃO                 1000992 non-null  object
 4   CÓDIGO UNIDADE GESTORA     1006636 non-null  float64
 5   NOME UNIDADE GESTORA       1006648 non-null  object
 6   CATEGORIA ECONÔMICA        1007149 non-null  object
 7   ORIGEM RECEITA             987710 non-null   object
 8   ESPÉCIE RECEITA            994200 non-null   object
 9   DETALHAMENTO               996791 non-null   object
 10  VALOR PREVISTO ATUALIZADO  974812 non-null   float64
 11  VALOR LANÇADO              999708 non-null   float64
 12  VALOR REALIZADO            986708 non-null   float64
 13  PERCENTUAL REALIZADO       1001993 non-null  float64
 14  DATA LANÇAMENTO            1002467 non-null  datetime64[ns]
 15  ANO EXERCÍCIO              1026127 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(1), object(7)
memory usage: 133.1+ MB

In [21]:
df_llena['CATEGORIA ECONÔMICA'].value_counts()

CATEGORIA ECONÔMICA
Receitas Correntes                           961360
Receitas de Capital                           29523
Receitas Correntes - intra-orçamentárias      15924
Sem informação                                  252
Receitas de Capital - intra-orçamentárias        90
Name: count, dtype: int64

In [22]:
df_llena['CATEGORIA ECONÔMICA'].isna().sum()

np.int64(18978)

In [23]:
df_llena['CATEGORIA ECONÔMICA'] = df_llena['CATEGORIA ECONÔMICA'].fillna('Sem informação')

In [24]:
df_llena['ORIGEM RECEITA'] = df_llena['ORIGEM RECEITA'].fillna('Sem informação')
###

In [25]:
df_llena['ESPÉCIE RECEITA'] = df_llena['ESPÉCIE RECEITA'].fillna('Sem informação')

In [26]:
df_llena['DETALHAMENTO'] = df_llena['DETALHAMENTO'].fillna('Sem informação')

In [27]:
df_llena['NOME ÓRGÃO SUPERIOR'] = df_llena['NOME ÓRGÃO SUPERIOR'].fillna('Sem informação')
df_llena['NOME ÓRGÃO'] = df_llena['NOME ÓRGÃO'].fillna('Sem informação')
df_llena['NOME UNIDADE GESTORA'] = df_llena['NOME UNIDADE GESTORA'].fillna('Sem informação')

In [28]:
df_llena['CÓDIGO ÓRGÃO SUPERIOR'] = df_llena['CÓDIGO ÓRGÃO SUPERIOR'].fillna(value=0000)
df_llena['CÓDIGO ÓRGÃO'] = df_llena['CÓDIGO ÓRGÃO'].fillna(value=0000)
df_llena['CÓDIGO UNIDADE GESTORA'] = df_llena['CÓDIGO UNIDADE GESTORA'].fillna(value=0000)

In [29]:
df_llena.dtypes

CÓDIGO ÓRGÃO SUPERIOR               float64
NOME ÓRGÃO SUPERIOR                  object
CÓDIGO ÓRGÃO                        float64
NOME ÓRGÃO                           object
CÓDIGO UNIDADE GESTORA              float64
NOME UNIDADE GESTORA                 object
CATEGORIA ECONÔMICA                  object
ORIGEM RECEITA                       object
ESPÉCIE RECEITA                      object
DETALHAMENTO                         object
VALOR PREVISTO ATUALIZADO           float64
VALOR LANÇADO                       float64
VALOR REALIZADO                     float64
PERCENTUAL REALIZADO                float64
DATA LANÇAMENTO              datetime64[ns]
ANO EXERCÍCIO                         int64
dtype: object

In [30]:
df_llena['CATEGORIA ECONÔMICA'].unique()

array(['Receitas Correntes', 'Receitas de Capital', 'Sem informação',
       'Receitas Correntes - intra-orçamentárias',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

In [31]:
### diccionario funcional

# nuevas_columnas = {i : i.lower() for i in df_2013.columns}
# df_2013.rename(nuevas_columnas, inplace= True, axis = 1) 

# cambio_nombre_columnas = {
#     'código órgão superior':'codigo_entidad',
#     'nome órgão superior':'nombre_entidad',
#     'código órgão':'codigo_especifica',
#     'nome órgão':'nombre_entidad_especifica',
#     'código unidade gestora':'codigo_unidad_gestora',
#     'nome unidade gestora':'nombre_unidad_gestora',
#     'categoria econômica':'clasificacion_ingresos',
#     'origem receita':'fuente_ingreso',
#     'espécie receita':'tipo_ingreso',
#     'detalhamento':'detalle_ingreso',
#     'valor previsto atualizado':'monto_previsto_actualizado',
#     'valor lançado':'monto_lanzado',
#     'valor realizado':'monto_recaudado',
#     'percentual realizado':'porcentaje_recaudado',
#     'data lançamento':'fecha_lanzamiento',
#     'ano exercício':'anio_ejercicio'
# }

# df_2013.rename(columns = cambio_nombre_columnas,inplace= True)

In [32]:
df_llena.isnull().sum()

CÓDIGO ÓRGÃO SUPERIOR            0
NOME ÓRGÃO SUPERIOR              0
CÓDIGO ÓRGÃO                     0
NOME ÓRGÃO                       0
CÓDIGO UNIDADE GESTORA           0
NOME UNIDADE GESTORA             0
CATEGORIA ECONÔMICA              0
ORIGEM RECEITA                   0
ESPÉCIE RECEITA                  0
DETALHAMENTO                     0
VALOR PREVISTO ATUALIZADO    51315
VALOR LANÇADO                26419
VALOR REALIZADO              39419
PERCENTUAL REALIZADO         24134
DATA LANÇAMENTO              23660
ANO EXERCÍCIO                    0
dtype: int64

In [33]:
df_llena['CATEGORIA ECONÔMICA'].unique()

array(['Receitas Correntes', 'Receitas de Capital', 'Sem informação',
       'Receitas Correntes - intra-orçamentárias',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

In [34]:
df_llena.describe()

,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,CÓDIGO UNIDADE GESTORA,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
count,1.026127e+06,1.026127e+06,1.026127e+06,9.748120e+05,9.997080e+05,9.867080e+05,1.001993e+06,1002467,1.026127e+06
mean,3.110542e+04,3.066897e+04,2.268448e+05,2.866320e+07,5.277697e+06,2.499055e+07,8.220896e+01,2018-09-20 04:04:29.177539328,2.018226e+03
min,0.000000e+00,0.000000e+00,0.000000e+00,-2.147737e+08,-1.483473e+11,-1.562859e+11,-1.145520e+05,2013-12-31 00:00:00,2.013000e+03
25%,2.500000e+04,2.500000e+04,1.531670e+05,0.000000e+00,0.000000e+00,2.609375e+02,0.000000e+00,2017-03-30 00:00:00,2.017000e+03
50%,2.600000e+04,2.629100e+04,1.680020e+05,0.000000e+00,0.000000e+00,3.028885e+03,0.000000e+00,2018-08-29 00:00:00,2.018000e+03
75%,3.600000e+04,3.490200e+04,2.500880e+05,0.000000e+00,0.000000e+00,4.095573e+04,0.000000e+00,2020-02-12 00:00:00,2.020000e+03
max,8.100000e+04,9.121400e+04,9.130010e+05,1.603522e+12,3.571607e+11,7.711177e+11,7.236377e+07,2021-12-03 00:00:00,2.021000e+03
std,1.178324e+04,1.135066e+04,1.461997e+05,3.479226e+09,8.171592e+08,1.418152e+09,7.234290e+04,NaN,1.737983e+00

In [35]:
df_llena.dtypes

CÓDIGO ÓRGÃO SUPERIOR               float64
NOME ÓRGÃO SUPERIOR                  object
CÓDIGO ÓRGÃO                        float64
NOME ÓRGÃO                           object
CÓDIGO UNIDADE GESTORA              float64
NOME UNIDADE GESTORA                 object
CATEGORIA ECONÔMICA                  object
ORIGEM RECEITA                       object
ESPÉCIE RECEITA                      object
DETALHAMENTO                         object
VALOR PREVISTO ATUALIZADO           float64
VALOR LANÇADO                       float64
VALOR REALIZADO                     float64
PERCENTUAL REALIZADO                float64
DATA LANÇAMENTO              datetime64[ns]
ANO EXERCÍCIO                         int64
dtype: object

In [36]:
df_llena['ESPÉCIE RECEITA'].isna().sum()

np.int64(0)

*** Hemos tomado los datos nulos y los hemos sumado a la categoría de Sem información. De esta forma no asumimos la categoría ya que no tenemos la certeza de donde puede venir (varible categoría económica/variable origem receita/)

*** Hemos imputado valores de las 6 primeras columnas (códigos-nombres) utilizando la forma de rellenar esa información haciendo uso de la relación que llevan coódigo-nombre. 

*** En las primeras 6 columnas pudieramos contemplar la posibilidad de abrir un nuevo valor (Sem informacion) debido a que aun habiendo imputado, quedan algunos datos nulos.
    * Hemos decidido abrir esa alternativa.

*** Hemos decidido eliminar la columna de 'Percentual Realizado' ya que decidimos hacer una columna nueva (Porcentaje Ejecutado). De esta forma pudimos sacar el porcentaje de manera manual, y recuperar unos 30,000 valores perdidos.

In [37]:
df_llena['ORIGEM RECEITA'].sample(5)

703720          Receita de Serviços
227571          Receita de Serviços
645024          Receita Patrimonial
825190    Outras Receitas Correntes
749471    Outras Receitas Correntes
Name: ORIGEM RECEITA, dtype: object

In [38]:
df_llena['ORIGEM RECEITA'].unique()

array(['Outras Receitas Correntes', 'Receita de Serviços',
       'Transferências de Capital', 'Alienação de Bens',
       'Receita Agropecuária', 'Transferências Correntes',
       'Receita Patrimonial', 'Operações de Crédito',
       'Impostos, Taxas e Contribuições de Melhoria', 'Sem informação',
       'Amortizações de Empréstimos', 'Contribuições',
       'Receita Industrial', 'Outras Receitas de Capital',
       'Receitas Correntes - a classificar'], dtype=object)

In [39]:
a = df_llena['ESPÉCIE RECEITA'] == 'Sem informação'
a.sum()

np.int64(32172)

In [40]:
a = df_llena['PERCENTUAL REALIZADO'] == 0
a.sum()

np.int64(994752)

In [41]:
df_llena['PERCENTUAL REALIZADO'].shape

(1026127,)

In [42]:
df_llena['PERCENTUAL REALIZADO'].sample(10)

500701    0.0
453579    0.0
823175    0.0
559346    0.0
427256    0.0
591587    0.0
858652    0.0
682546    0.0
563496    0.0
463149    0.0
Name: PERCENTUAL REALIZADO, dtype: float64

In [43]:
b = df_llena['VALOR REALIZADO'] == 0
b.sum()

np.int64(20214)

In [44]:
### divisor para el porcentaje
c = df_llena['VALOR PREVISTO ATUALIZADO'] == 0

In [45]:
c.sum()

np.int64(955962)

In [46]:
def calcular_porcentaje(realizado, previsto):
    if pd.isna(realizado) or pd.isna(previsto):
        return 0
    try:
        return (realizado / previsto) * 100 if previsto != 0 else 0
    except Exception as e:
        return 0

df_llena['PORCENTAJE EJECUTADO'] = df_llena.apply(
    lambda row: calcular_porcentaje(row['VALOR REALIZADO'], row['VALOR PREVISTO ATUALIZADO']),
    axis=1
)

In [47]:
df_llena.isna().sum()

CÓDIGO ÓRGÃO SUPERIOR            0
NOME ÓRGÃO SUPERIOR              0
CÓDIGO ÓRGÃO                     0
NOME ÓRGÃO                       0
CÓDIGO UNIDADE GESTORA           0
NOME UNIDADE GESTORA             0
CATEGORIA ECONÔMICA              0
ORIGEM RECEITA                   0
ESPÉCIE RECEITA                  0
DETALHAMENTO                     0
VALOR PREVISTO ATUALIZADO    51315
VALOR LANÇADO                26419
VALOR REALIZADO              39419
PERCENTUAL REALIZADO         24134
DATA LANÇAMENTO              23660
ANO EXERCÍCIO                    0
PORCENTAJE EJECUTADO             0
dtype: int64

In [48]:
df_llena.drop(columns= ["PERCENTUAL REALIZADO"], inplace= True)

In [49]:
m = df_llena['PORCENTAJE EJECUTADO'] == 0
m.sum()

np.int64(1017290)

In [50]:
df_llena.shape

(1026127, 16)

In [51]:
df_llena.isna().sum()

CÓDIGO ÓRGÃO SUPERIOR            0
NOME ÓRGÃO SUPERIOR              0
CÓDIGO ÓRGÃO                     0
NOME ÓRGÃO                       0
CÓDIGO UNIDADE GESTORA           0
NOME UNIDADE GESTORA             0
CATEGORIA ECONÔMICA              0
ORIGEM RECEITA                   0
ESPÉCIE RECEITA                  0
DETALHAMENTO                     0
VALOR PREVISTO ATUALIZADO    51315
VALOR LANÇADO                26419
VALOR REALIZADO              39419
DATA LANÇAMENTO              23660
ANO EXERCÍCIO                    0
PORCENTAJE EJECUTADO             0
dtype: int64

In [52]:
df_llena_sinnull = df_llena.dropna()

In [53]:
df_llena.isna().sum()

CÓDIGO ÓRGÃO SUPERIOR            0
NOME ÓRGÃO SUPERIOR              0
CÓDIGO ÓRGÃO                     0
NOME ÓRGÃO                       0
CÓDIGO UNIDADE GESTORA           0
NOME UNIDADE GESTORA             0
CATEGORIA ECONÔMICA              0
ORIGEM RECEITA                   0
ESPÉCIE RECEITA                  0
DETALHAMENTO                     0
VALOR PREVISTO ATUALIZADO    51315
VALOR LANÇADO                26419
VALOR REALIZADO              39419
DATA LANÇAMENTO              23660
ANO EXERCÍCIO                    0
PORCENTAJE EJECUTADO             0
dtype: int64

*** Eliminación de nulos***

In [54]:
df_llena_sinnull.isna().sum()

CÓDIGO ÓRGÃO SUPERIOR        0
NOME ÓRGÃO SUPERIOR          0
CÓDIGO ÓRGÃO                 0
NOME ÓRGÃO                   0
CÓDIGO UNIDADE GESTORA       0
NOME UNIDADE GESTORA         0
CATEGORIA ECONÔMICA          0
ORIGEM RECEITA               0
ESPÉCIE RECEITA              0
DETALHAMENTO                 0
VALOR PREVISTO ATUALIZADO    0
VALOR LANÇADO                0
VALOR REALIZADO              0
DATA LANÇAMENTO              0
ANO EXERCÍCIO                0
PORCENTAJE EJECUTADO         0
dtype: int64

In [55]:
df_llena.to_csv("../datos/df_llena.csv")

In [56]:
df_llena_sinnull.to_csv("../datos/df_llena_sinnull.csv")

In [57]:
df_nonull_prueba = df_llena_sinnull.groupby('CATEGORIA ECONÔMICA')[['VALOR REALIZADO']].sum()

In [58]:
df_nonull_prueba['VALOR REALIZADO'] = df_nonull_prueba['VALOR REALIZADO'].apply(lambda x: '{:.2f}'.format(x))

df_nonull_prueba

                                             VALOR REALIZADO
CATEGORIA ECONÔMICA
Receitas Correntes                         10709876136199.71
Receitas Correntes - intra-orçamentárias     264709125592.66
Receitas de Capital                        11048919012876.93
Receitas de Capital - intra-orçamentárias     20096501112.78
Sem informação                               293449378625.07

In [59]:
idx = df_llena[df_llena['NOME ÓRGÃO SUPERIOR'] == 'Sem informação'].index[0]
df_llena.at[idx, 'NOME ÓRGÃO SUPERIOR'] = 'Advocacia-Geral da União'

In [60]:
df_llena.head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO,PORCENTAJE EJECUTADO
0,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0.0,0.0,1297.13,2013-12-31,2013,0.0

In [61]:
df_llena_sinnull.reset_index(drop=True, inplace=True)

In [62]:
# en Git haced este comando:
# git lfs install
# os pondrá git lfs initialized
# Iros a la carpeta de vuestro repo y poner:
# git lfs track "*.csv"
# os pondrá Tracking "csv"
# Y ya haceís
# git add .
# git commit -m "Tu mensaje favorito"
# git push
# tarda un poco más pero vamos a mi me ha funcionado para subirlo

* EDA

In [78]:
df_llena_sinnull.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892276 entries, 0 to 892275
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CÓDIGO ÓRGÃO SUPERIOR      892276 non-null  float64
 1   NOME ÓRGÃO SUPERIOR        892276 non-null  object
 2   CÓDIGO ÓRGÃO               892276 non-null  float64
 3   NOME ÓRGÃO                 892276 non-null  object
 4   CÓDIGO UNIDADE GESTORA     892276 non-null  float64
 5   NOME UNIDADE GESTORA       892276 non-null  object
 6   CATEGORIA ECONÔMICA        892276 non-null  object
 7   ORIGEM RECEITA             892276 non-null  object
 8   ESPÉCIE RECEITA            892276 non-null  object
 9   DETALHAMENTO               892276 non-null  object
 10  VALOR PREVISTO ATUALIZADO  892276 non-null  float64
 11  VALOR LANÇADO              892276 non-null  float64
 12  VALOR REALIZADO            892276 non-null  float64
 13  DATA LANÇAMENTO            892276 non-null  datetime64[ns]
 14  ANO EXERCÍCIO              892276 non-null  int64
 15  PORCENTAJE EJECUTADO       892276 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(7)
memory usage: 108.9+ MB

In [79]:
df_llena_sinnull.shape

(892276, 16)

In [80]:
df_llena_sinnull.columns

Index(['CÓDIGO ÓRGÃO SUPERIOR', 'NOME ÓRGÃO SUPERIOR', 'CÓDIGO ÓRGÃO',
       'NOME ÓRGÃO', 'CÓDIGO UNIDADE GESTORA', 'NOME UNIDADE GESTORA',
       'CATEGORIA ECONÔMICA', 'ORIGEM RECEITA', 'ESPÉCIE RECEITA',
       'DETALHAMENTO', 'VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO',
       'VALOR REALIZADO', 'DATA LANÇAMENTO', 'ANO EXERCÍCIO',
       'PORCENTAJE EJECUTADO'],
      dtype='object')

In [81]:
df_llena_sinnull.describe().T

,count,mean,min,25%,50%,75%,max,std
CÓDIGO ÓRGÃO SUPERIOR,892276.0,31107.184324,0.0,25000.0,26000.0,36000.0,81000.0,11791.470156
CÓDIGO ÓRGÃO,892276.0,30669.240741,0.0,25000.0,26291.0,34902.0,91214.0,11363.09748
CÓDIGO UNIDADE GESTORA,892276.0,226846.177831,0.0,153167.0,168002.0,250088.0,913001.0,146200.593063
VALOR PREVISTO ATUALIZADO,892276.0,28699243.639438,-214773743.0,0.0,0.0,0.0,1603521711208.0,3590222820.179151
VALOR LANÇADO,892276.0,2886809.335874,-148347267246.910004,0.0,0.0,0.0,357160677863.969971,735083182.729464
VALOR REALIZADO,892276.0,25033790.166279,-156285934188.029999,263.25,3045.0,41162.38,771117711060.949951,1458431969.948495
DATA LANÇAMENTO,892276,2018-09-24 21:17:05.295311360,2013-12-31 00:00:00,2017-03-30 00:00:00,2018-09-05 00:00:00,2020-02-20 00:00:00,2021-12-03 00:00:00,NaN
ANO EXERCÍCIO,892276.0,2018.237367,2013.0,2017.0,2018.0,2020.0,2021.0,1.74351
PORCENTAJE EJECUTADO,892276.0,9.123469,-114551.929134,0.0,0.0,0.0,1873159.053435,2734.095689

In [82]:
df_llena_sinnull.describe(include="O")

,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO
count,892276,892276,892276,892276,892276,892276,892276
unique,26,288,357,5,15,62,1865
top,Ministério da Educação,Ministério da Economia - Unidades com vínculo ...,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,Outras Receitas Correntes,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.
freq,304912,101192,92616,835888,270138,234291,134279

In [83]:
df_llena_sinnull['CATEGORIA ECONÔMICA'].value_counts(normalize=True) * 100

CATEGORIA ECONÔMICA
Receitas Correntes                           93.680431
Receitas de Capital                           2.871645
Sem informação                                1.885291
Receitas Correntes - intra-orçamentárias      1.553331
Receitas de Capital - intra-orçamentárias     0.009302
Name: proportion, dtype: float64

In [84]:
df_llena_sinnull['ANO EXERCÍCIO'].value_counts().sort_values(ascending=False)

ANO EXERCÍCIO
2016    172018
2017    159956
2019    153918
2018    149878
2020    127093
2021    117892
2015      3895
2014      3824
2013      3802
Name: count, dtype: int64

In [85]:
df_llena_sinnull['ANO EXERCÍCIO'].value_counts(normalize=True) * 100

ANO EXERCÍCIO
2016    19.278564
2017    17.926740
2019    17.250044
2018    16.797269
2020    14.243687
2021    13.212504
2015     0.436524
2014     0.428567
2013     0.426101
Name: proportion, dtype: float64

In [86]:
df_llena_sinnull['PORCENTAJE EJECUTADO'].describe().T

count    8.922760e+05
mean     9.123469e+00
std      2.734096e+03
min     -1.145519e+05
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.873159e+06
Name: PORCENTAJE EJECUTADO, dtype: float64

*** data frame corrupción ***
* Aquí tenemos el funcionamiento de latinoamérica, distribuido en 3 momentos:
- Valor Previsto Actualizado es lo que el gobierno prevee como ingreso
- Valor Lanzado es lo que se presenta en los libros, lo que se contabiliza como esperado.
- Valor Realizado fue lo que realmente se consiguió como ingresos.

* Esto quiere decir que el gobierno apuntaba a una recolección de ingresos alta, sin embargo hizo una declaración baja sobre lo esperado (incluso blaqueó algunas cifras) y se consiguió que la realidad de ingresos fuese cercana a esa primera estimación.

* Valor Realizado - valor Lanzado es la corrupción.

In [87]:
df_prueba = df_llena_sinnull.groupby('CATEGORIA ECONÔMICA')[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO']].sum()
df_prueba

,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO
CATEGORIA ECONÔMICA,,,
Receitas Correntes,1.120166e+13,2.409271e+12,1.070988e+13
Receitas Correntes - intra-orçamentárias,2.462382e+11,0.000000e+00,2.647091e+11
Receitas de Capital,1.313770e+13,2.513003e+05,1.104892e+13
Receitas de Capital - intra-orçamentárias,1.080841e+10,0.000000e+00,2.009650e+10
Sem informação,1.011239e+12,1.665599e+11,2.934494e+11

In [88]:
df_prueba2 = df_llena_sinnull.groupby('CATEGORIA ECONÔMICA')[['VALOR LANÇADO']].sum()

df_prueba2['VALOR LANÇADO'] = df_prueba2['VALOR LANÇADO'].apply(lambda x: '{:.2f}'.format(x))

df_prueba2

                                              VALOR LANÇADO
CATEGORIA ECONÔMICA
Receitas Correntes                         2409270503205.02
Receitas Correntes - intra-orçamentárias               0.00
Receitas de Capital                               251300.27
Receitas de Capital - intra-orçamentárias              0.00
Sem informação                              166559932471.19

In [89]:
df_prueba1 = df_llena_sinnull.groupby('CATEGORIA ECONÔMICA')[['VALOR PREVISTO ATUALIZADO']].sum()

df_prueba1['VALOR PREVISTO ATUALIZADO'] = df_prueba1['VALOR PREVISTO ATUALIZADO'].apply(lambda x: '{:.2f}'.format(x))

df_prueba1

                                          VALOR PREVISTO ATUALIZADO
CATEGORIA ECONÔMICA
Receitas Correntes                                11201661418830.69
Receitas Correntes - intra-orçamentárias            246238213712.00
Receitas de Capital                               13137699512541.40
Receitas de Capital - intra-orçamentárias            10808411537.00
Sem informação                                     1011238761002.19

In [90]:
df_prueba3 = df_llena_sinnull.groupby('CATEGORIA ECONÔMICA')[['VALOR REALIZADO']].sum()

df_prueba3['VALOR REALIZADO'] = df_prueba3['VALOR REALIZADO'].apply(lambda x: '{:.2f}'.format(x))

df_prueba3

                                             VALOR REALIZADO
CATEGORIA ECONÔMICA
Receitas Correntes                         10709876136199.71
Receitas Correntes - intra-orçamentárias     264709125592.66
Receitas de Capital                        11048919012876.93
Receitas de Capital - intra-orçamentárias     20096501112.78
Sem informação                               293449378625.07