In [7]:
import pandas as pd
import pickle
import numpy as np

In [2]:
# Datos de una nueva casa para predicción
new_house = pd.DataFrame({
    'Neighborhood': ['D'],  # Nueva categoría no vista
    'HouseType': ['Detached'],
    'Rooms': [4],
    'Area': [150]
})

df_new = pd.DataFrame(new_house)
df_new

  Neighborhood HouseType  Rooms  Area
0            D  Detached      4   150

In [5]:
# cargamos los transformadores y el modelo entrenado
with open('../modelos/target_encoder.pkl', 'rb') as f:
    target_encoder = pickle.load(f)

with open('../modelos/scaler.pkl', 'rb') as f:
    scaler = pickle.load(f)

with open('../modelos/random_forest_model.pkl', 'rb') as f:
    model = pickle.load(f)

In [6]:
df_pred = df_new.copy()
df_pred

  Neighborhood HouseType  Rooms  Area
0            D  Detached      4   150

In [15]:
col_num = df_pred.select_dtypes(include = np.number).columns
col_cat = df_pred.select_dtypes(include = "O").columns

In [14]:
df_pred[col_num] = scaler.transform(df_pred[col_num])
df_pred

  Neighborhood HouseType     Rooms      Area
0            D  Detached  0.120386 -0.311141

In [18]:
df_pred = target_encoder.transform(df_pred)
df_pred

   Neighborhood      HouseType     Rooms      Area
0      289500.0  289763.754815  0.120386 -0.311141

In [21]:
model.predict(df_pred)

array([277000.])