In [1]:
num_hijos = 7
salario = 1000.67

In [4]:
num_hijos
salario

1000.67

In [6]:
print(num_hijos)
salario

7

1000.67

In [20]:
nombre = "Gaby"
nombre_2 = 'Nel'

In [14]:
nombre
nombre_2

'Ana'

In [15]:
comer = True
comer2 = False

In [18]:
print(comer)
print(comer2)

True
False

In [ ]:
valor_vacio = None

In [21]:
print("Mi nombre es",nombre,"y me gusta",nombre_2)

Mi nombre es Gaby y me gusta Nel

In [23]:
type (nombre)

str

In [24]:
type (num_hijos)

int

In [25]:
print(type(nombre))

<class 'str'>

In [31]:
cadena = "Vamo pa la playa"

longitud_cadena = len(cadena)

print(f"La longitud de la frase es: {longitud_cadena}")

La longitud de la frase es: 16

In [32]:
print(len(cadena))

16

In [33]:
print(f"Este mmg es bastante largo: {longitud_cadena}")

Este mmg es bastante largo: 16

In [34]:
saludo = "El dia de hoy es martes"
print(saludo)

El dia de hoy es martes

In [35]:
saludo[0]

'E'

In [36]:
saludo[-1]

's'

In [37]:
len(saludo)

23

In [39]:
saludo[22]

's'

In [40]:
saludo[-23]

'E'

In [41]:
print(saludo)

El dia de hoy es martes

In [42]:
saludo[0:2]

'El'

In [48]:
saludo[-6:]

'martes'

In [50]:
saludo[:13]

'El dia de hoy'

In [51]:
saludo[-9:-7]

'es'

In [52]:
conector = "Entonces hacemos una prueba"

In [53]:
print(conector)

Entonces hacemos una prueba

In [55]:
conector[:9:2]

'Etne '

In [56]:
conector[::2]

'Etne aeo n rea'

In [59]:
parrafo = """Este trabajo de prueba 
                es parte de lo que hacemos 
                        en el curso preliminar"""

# mostramos por pantalla el valor de la variable 'parrafo' usando 'print()'
print(f"El valor de la variable parrafo es: \n {parrafo}") # el símbolo \n indica el salto de linea. 

# mostramos por pantalla el tipo de dato de la variable 'parrafo' usando la función 'type()'
print(f"El tipo de dato de la variable parrafo es {type(parrafo)}")

El valor de la variable parrafo es:
 Este trabajo de prueba
                es parte de lo que hacemos
                        en el curso preliminar
El tipo de dato de la variable parrafo es <class 'str'>

In [ ]:
-.lower()
-.upper
.capitalize()
.title()
.strip()
.split()
.replace()
.find()
.index()
.join()

In [62]:
texto = 'Así No se debE escriBiR'

In [63]:
texto.lower()

'así no se debe escribir'

In [64]:
print(texto)

Así No se debE escriBiR

In [65]:
texto_minus = texto.lower()

In [66]:
print(texto_minus)

así no se debe escribir

In [69]:
texto.upper()

'ASÍ NO SE DEBE ESCRIBIR'

In [70]:
texto_upper = texto.upper()

In [71]:
print(texto_upper)

ASÍ NO SE DEBE ESCRIBIR

In [72]:
texto_title = texto.title()

In [73]:
print(texto_title)

Así No Se Debe Escribir

In [74]:
# Si quieres poner la primera mayúscula, uso capitalize

texto_cap = texto.capitalize()

In [75]:
print(texto_cap)

Así no se debe escribir

In [76]:
texto

'Así No se debE escriBiR'

In [77]:
texto_strip = texto.strip()

In [78]:
# Para modificar un texto sin espacios identificables, usamos strip

texto_loco = 'Thu Realll  dHe CotiCzzee  '

In [79]:
texto_strip1 = texto_loco.strip()

In [80]:
texto_strip1

'Thu Realll  dHe CotiCzzee'

In [81]:
# Nos divide el texto y lo divide en forma de lista, nos cambia la estructura a lista []

texto_split = texto.split()

In [82]:
texto_split

['Así', 'No', 'se', 'debE', 'escriBiR']

In [83]:
texto_split2 = texto.split('e')
texto_split2

['Así No s', ' d', 'bE ', 'scriBiR']

In [84]:
texto_split2

['Así No s', ' d', 'bE ', 'scriBiR']

In [87]:
# Vamos a replace, reemplazar algo en nuestro string

texto_replace = texto.replace('s', '5').lower()

In [88]:
texto_replace

'a5í no 5e debe e5cribir'

In [92]:
# se pueden encadenar metodos de strings unos tras otros, sin embargo no en el split. Porque deja de ser un string, se convierte a lista

texto.find('e')

# Aca podemos ver la psicion de los indices

8

In [94]:
texto[4:].find('e')

4

In [95]:
texto[4:]

'No se debE escriBiR'

In [99]:
texto.index('e')

# find e index son metodos similares

## el find nos devuelve un -1, en caso de que no haya

## el index nos devuelve un value_error, en caso de que no haya

8

In [97]:
texto.find('w')

-1

In [98]:
texto.index('w')

ValueError: substring not found

In [100]:
print(texto)

Así No se debE escriBiR

In [101]:
texto_split

['Así', 'No', 'se', 'debE', 'escriBiR']

In [103]:
' '.join(texto_split)

# Une todas las palabras de la lista a traves de un espacio

'Así No se debE escriBiR'

In [104]:
texto_split

['Así', 'No', 'se', 'debE', 'escriBiR']

In [105]:
'999'.join(texto_split)

'Así999No999se999debE999escriBiR'

In [109]:
# Las listas se crean usando corchetes [], separando los elementos por comas, como vemos en el ejemplo a continuación:

lista_prueba = [1,2,3,4,5,]
frutas = ['manzana', 'banana', 'melon', 'sandia']
len(frutas)

# len me dice la cantidad de contenidos, en este caso me dice oalabras

4

In [110]:
print(len(lista_prueba))

5

In [118]:
azar = [3,6,1,8,2,18,22]

In [120]:
azar.sort()

In [121]:
print(azar)

[1, 2, 3, 6, 8, 18, 22]

In [123]:
azar.reverse()

In [124]:
print(azar)

[22, 18, 8, 6, 3, 2, 1]

In [127]:
print(azar.index(1))

6

In [128]:
frutas

['manzana', 'banana', 'melon', 'sandia']

In [129]:
print(frutas)

['manzana', 'banana', 'melon', 'sandia']

In [130]:
frutas.append("pera")
print(frutas)

['manzana', 'banana', 'melon', 'sandia', 'pera']

In [131]:
frutas.insert(0,"uva")

In [132]:
frutas

['uva', 'manzana', 'banana', 'melon', 'sandia', 'pera']

In [133]:
frutas[1] = "mango"

In [134]:
frutas

['uva', 'mango', 'banana', 'melon', 'sandia', 'pera']

In [ ]:
# append
# insert
# [] permiten añadir a listas

In [135]:
# me permite remover un elemento de la lista
frutas.remove("sandia")

In [136]:
frutas

['uva', 'mango', 'banana', 'melon', 'pera']

In [137]:

# pop elimina el último elemento de la lista
frutas.pop()

'pera'

In [138]:
frutas

['uva', 'mango', 'banana', 'melon']

In [ ]:
### En resumen, el operador <code>+</code> concatena dos listas y devuelve una nueva lista con todos los elementos de las listas anteriores.
# Mientras que la <code>,</code> , crea una lista que contiene ambas listas originales.

In [139]:
nombre = "Nelsy"

In [140]:
### como convertir una variable en lista "list"

listado_nombre = list(nombre)
print(listado_nombre)

['N', 'e', 'l', 's', 'y']

In [141]:
"e" in nombre

True

In [142]:
azar

[22, 18, 8, 6, 3, 2, 1]

In [143]:
4 in azar

False

In [144]:
nombre

'Nelsy'

In [145]:
"o" not in nombre

True

In [146]:
frutas

['uva', 'mango', 'banana', 'melon']

In [147]:
## uso aca los corchetes para indexar, sacar con el indice un numero de su lugar

print(frutas[2])

banana

In [149]:
print("El segundo día comimos",frutas[2])

El segundo día comimos banana

In [150]:
len(frutas)

4

In [152]:
print(frutas[-1])

melon

In [153]:
from datetime import datetime, date, time, timedelta

In [155]:
dia_hoy = datetime.now()

In [157]:
print(dia_hoy)

2024-08-17 12:25:54.190656

In [160]:
lista_4 = list("Jeancha")

In [161]:
print(lista_4)

['J', 'e', 'a', 'n', 'c', 'h', 'a']

In [162]:
print(lista_4[1])

e

In [163]:
print(len(lista_4))

7

In [164]:
lista_2 = ["Nelsy", "Nelson", [1,2,3]]

In [165]:
lista_2[2]

[1, 2, 3]

In [167]:
lista_2[:2]

['Nelsy', 'Nelson']

In [168]:
lista_4

['J', 'e', 'a', 'n', 'c', 'h', 'a']

In [172]:
lista_4[-3:]

['c', 'h', 'a']

In [173]:
lista_4[::2]

### aquí para indices impares

['J', 'a', 'c', 'a']

In [174]:
lista_4[1::2]

### aqui para indices pares

['e', 'n', 'h']

In [179]:
lista_2

['Nelsy', 'Nelson', [1, 2, 3]]

In [177]:
lista_2[2][1]

2

In [180]:
max(lista_4)

### mayor letra en el alfabeto
##### si fuese de letras y números, me da error

'n'

In [181]:
lista_4.count("n")

1

In [182]:
lista_prueba

[1, 2, 3, 4, 5]

In [183]:
lista_prueba.count(1)

1

In [184]:
lista_prueba.append(1)

In [185]:
lista_prueba

[1, 2, 3, 4, 5, 1]

In [186]:
lista_prueba.count(1)

2

In [187]:
lista_prueba.insert(0,1)

In [188]:
lista_prueba

[1, 1, 2, 3, 4, 5, 1]

In [190]:
sorted(lista_prueba)

### se aplica al principio

[1, 1, 1, 2, 3, 4, 5]

In [192]:
lista_prueba.sort(reverse=False)

### se aplica al final

In [193]:
lista_prueba

[1, 1, 1, 2, 3, 4, 5]

In [197]:
lista_prueba.extend

TypeError: 'builtin_function_or_method' object is not subscriptable

In [198]:
lista_2

['Nelsy', 'Nelson', [1, 2, 3]]

In [199]:
lista_2.extend(["Te amo", "Hasta pronto"])

In [200]:
lista_2

['Nelsy', 'Nelson', [1, 2, 3], 'Te amo', 'Hasta pronto']

In [201]:
lista_2.extend([2,4,5,6])

In [202]:
lista_2

['Nelsy', 'Nelson', [1, 2, 3], 'Te amo', 'Hasta pronto', 2, 4, 5, 6]

In [203]:
lista_2.insert(1,[0,100])

In [204]:
lista_2

['Nelsy', [0, 100], 'Nelson', [1, 2, 3], 'Te amo', 'Hasta pronto', 2, 4, 5, 6]

In [205]:
lista_2.pop(1)
### elimina el último por defecto, pero también le puedod dar un índice

[0, 100]

In [206]:
lista_2

['Nelsy', 'Nelson', [1, 2, 3], 'Te amo', 'Hasta pronto', 2, 4, 5, 6]

In [208]:
lista_2.pop()

6

In [209]:
lista_2.remove(2)

In [210]:
lista_2

['Nelsy', 'Nelson', [1, 2, 3], 'Te amo', 'Hasta pronto', 4, 5]

In [211]:
lista_prueba

[1, 1, 1, 2, 3, 4, 5]

In [213]:
lista_prueba.clear()

In [214]:
lista_prueba

[]

In [215]:
lista_2

['Nelsy', 'Nelson', [1, 2, 3], 'Te amo', 'Hasta pronto', 4, 5]

In [216]:
lista_2[2] = "Ruleta"

In [217]:
lista_2

['Nelsy', 'Nelson', 'Ruleta', 'Te amo', 'Hasta pronto', 4, 5]

In [4]:
## diccionarios
# clave y valor, {}, mutables
diccionario1 = {'nombres': ["Gaby", "Nelsy"]}
### prueba con diccionario vacío
diccionariovacio = {}
print(type(diccionariovacio))

<class 'dict'>

In [3]:
diccionario1

{'nombres': ['Gaby', 'Nelsy']}

In [5]:
diccionariovacio2 = dict()

In [6]:
print(diccionariovacio2)

{}

In [8]:
diccionario_persona = {'nombre' : 'Lola',
                       'edad': 45,
                       'tecnologías': ['Python', 'SQL', 'Power Bi']}

In [9]:
print(type(diccionario_persona))

<class 'dict'>

In [10]:
diccionario_dias = dict(lunes = 'Jeancha', martes = 'Ana', miercoles = 'Lola')
print(type(diccionario_dias))

<class 'dict'>

In [11]:
diccionario_dias

{'lunes': 'Jeancha', 'martes': 'Ana', 'miercoles': 'Lola'}

In [14]:
lista_tuplas = [('lunes', 'Jeancha'), ('martes', 'Ana'), ('miercoles','Lola')]
print(type(lista_tuplas))

<class 'list'>

In [15]:
diccionario_dias2 = dict(lista_tuplas)
print(type(diccionario_dias2))

<class 'dict'>

In [16]:
diccionario_dias2

{'lunes': 'Jeancha', 'martes': 'Ana', 'miercoles': 'Lola'}

In [17]:
print(len(diccionario_persona))

3

In [24]:
diccionario_persona.get('nombre')

'Lola'

In [25]:
diccionario_persona

{'nombre': 'Lola', 'edad': 45, 'tecnologías': ['Python', 'SQL', 'Power Bi']}

In [ ]:
.keys
.values
.get
.items
.update
.setdefault
.pop
.popitem
.clear
.copy

In [26]:
print(diccionario_persona)

{'nombre': 'Lola', 'edad': 45, 'tecnologías': ['Python', 'SQL', 'Power Bi']}

In [28]:
diccionario_persona.keys()

dict_keys(['nombre', 'edad', 'tecnologías'])

In [29]:
diccionario_persona.values()

dict_values(['Lola', 45, ['Python', 'SQL', 'Power Bi']])

In [30]:
diccionario_persona.items()

dict_items([('nombre', 'Lola'), ('edad', 45), ('tecnologías', ['Python', 'SQL', 'Power Bi'])])

In [32]:
diccionario_persona.get('nombre')

'Lola'

In [35]:
diccionario_persona.get('tecnologías')

['Python', 'SQL', 'Power Bi']

In [36]:
diccionario_persona['tecnologías']

['Python', 'SQL', 'Power Bi']

In [37]:
diccionario_persona

{'nombre': 'Lola', 'edad': 45, 'tecnologías': ['Python', 'SQL', 'Power Bi']}

In [42]:
diccionario_persona.update({'calle': 'Calle de la Esperanza', 'edad' : 67})

In [43]:
print(diccionario_persona)

{'nombre': 'Lola', 'edad': 67, 'tecnologías': ['Python', 'SQL', 'Power Bi'], 'calle': 'Calle de la Esperanza'}

In [44]:
diccio = {'nombre' : 'JEancha',
          'nombre' : 'Lola'}

In [45]:
diccio

{'nombre': 'Lola'}

In [47]:
diccionario_persona['edad'] = 40
print(diccionario_persona)

{'nombre': 'Lola', 'edad': 40, 'tecnologías': ['Python', 'SQL', 'Power Bi'], 'calle': 'Calle de la Esperanza'}

In [48]:
diccionario_persona['género'] = 'M'

In [49]:
diccionario_persona

{'nombre': 'Lola',
 'edad': 40,
 'tecnologías': ['Python', 'SQL', 'Power Bi'],
 'calle': 'Calle de la Esperanza',
 'género': 'M'}

In [50]:
diccionario_persona.setdefault('edad')

40

In [53]:
diccionario_persona.get('hijos', 'no existe hijos')

### en este caso me devulve la condicional, de que no existe

'no existe hijos'

In [54]:
diccionario_persona.setdefault('hijos')

### en este caso aunque no existe, setdefault me la crea key-value

In [55]:
diccionario_persona

{'nombre': 'Lola',
 'edad': 40,
 'tecnologías': ['Python', 'SQL', 'Power Bi'],
 'calle': 'Calle de la Esperanza',
 'género': 'M',
 'hijos': None}

In [56]:
diccionario_persona.get('hijos')

In [67]:
diccionario_persona

{'nombre': 'Lola',
 'edad': 40,
 'tecnologías': ['Python', 'SQL', 'Power Bi'],
 'género': 'M'}

In [58]:
diccionario_persona['hijos']

In [68]:
diccionario_persona

{'nombre': 'Lola',
 'edad': 40,
 'tecnologías': ['Python', 'SQL', 'Power Bi'],
 'género': 'M'}

In [69]:
diccionario_persona.pop('nombre')

'Lola'

In [70]:
diccionario_persona

{'edad': 40, 'tecnologías': ['Python', 'SQL', 'Power Bi'], 'género': 'M'}

In [71]:
diccionario_persona.popitem()

('género', 'M')

In [72]:
diccionario_persona

{'edad': 40, 'tecnologías': ['Python', 'SQL', 'Power Bi']}

In [95]:
diccionario_persona.update({'nombre': 'Lola'})

In [96]:
diccionario_persona

{'nombre': 'Lola'}

In [99]:
diccionario_1 = diccionario_persona.copy()
print(diccionario_1)

{'nombre': 'Lola'}

In [100]:
diccionario_1

{'nombre': 'Lola'}

In [102]:
diccionario_persona.popitem()

KeyError: 'popitem(): dictionary is empty'

In [103]:
diccionario_1()

TypeError: 'dict' object is not callable

In [85]:
diccionario2.popitem()

AttributeError: 'builtin_function_or_method' object has no attribute 'popitem'

In [109]:
### Sets

set1 = {1,2,3,4,5}

In [110]:
set1

{1, 2, 3, 4, 5}

In [119]:
set_1 = set()
### De esta forma se hace un set vacío, porque si no lo hago así 
# asume que es un dictionario

print(type(set_1))

<class 'set'>

In [116]:
len(set1)

5

In [120]:
set1.add(78)

In [124]:
set1

{1, 2, 3, 4, 5, 78}

In [127]:
set1.update({24,8,6})

In [128]:
set1

{1, 2, 3, 4, 5, 6, 8, 24, 78}

In [129]:
set1.add(2)

In [130]:
set1

{1, 2, 3, 4, 5, 6, 8, 24, 78}

In [131]:
set1.pop()

1

In [132]:
set1

{2, 3, 4, 5, 6, 8, 24, 78}

In [133]:
print(set1)

{2, 3, 4, 5, 6, 8, 78, 24}

In [134]:
set1.remove(78)

In [135]:
set1

{2, 3, 4, 5, 6, 8, 24}

In [136]:
set1.discard(3)

In [137]:
set1

{2, 4, 5, 6, 8, 24}

In [138]:
set1.discard(23)

In [139]:
set1

{2, 4, 5, 6, 8, 24}

In [141]:
set2 = set1.copy()
print(set2)

{2, 4, 5, 6, 8, 24}

In [143]:
set2.pop()

2

In [144]:
set2

{4, 5, 6, 8, 24}

In [146]:
set2.clear()

In [147]:
set9 = {1,2,3}
set10 = {3,4,5}

In [149]:
setunion = set9.union(set10)
print(setunion)

{1, 2, 3, 4, 5}

In [150]:
print(set9)
print(set10)

{1, 2, 3}
{3, 4, 5}

In [151]:
setintersection = set9.intersection(set10)
print(setintersection)

{3}

In [152]:
set_diff = set9.difference(set10)
print(set_diff)

{1, 2}

In [153]:
set_diff2 = set10.difference(set9)
print(set_diff2)

{4, 5}

In [154]:
### Diferencia simétrica nos devuelve todo lo que está en el 
# primero y no en el segundo, así como lo que está en el segundo y no
# en el primero

# Suma de las diferencias

set_simetr = set9.symmetric_difference(set10)
print(set_simetr)

{1, 2, 4, 5}

In [155]:
set9.isdisjoint(set10)

### Falso porque en algún momento comparten algo

False

In [156]:
set11 = {11,12,13}
set9.isdisjoint(set11)

## No tienen nada en común

True

In [158]:
set4 = {3,4,5,6,7,8,9}
set5 = {5,6,7}

In [159]:
set4.issubset(set5)

False

In [160]:
set5.issubset(set4)

True

In [161]:
set4.issuperset(set5)

# Es como un paraguas que cubre

True

In [163]:
# Definimos una variable
contador = 0

# Usamos un bucle while
while contador <= 5:
    print("Contador:", contador)
    contador += 1  # Incrementamos el contador

Contador: 0
Contador: 1
Contador: 2
Contador: 3
Contador: 4
Contador: 5

In [167]:
numero_peras = 10
numero_manzanas = 8

if numero_peras > numero_manzanas:
    print("Tenemos muchas peras")

Tenemos muchas peras

In [168]:
numero_clases = 10
clases_impartidas = 0

if numero_clases > clases_impartidas:
    clases_impartidas +=1
    numero_clases -= 1

In [171]:
print(f'El número de clases impartidas es {clases_impartidas}')
print(f'El número de clases pendientes es {numero_clases}')

El número de clases impartidas es 1
El número de clases pendientes es 9

In [174]:
lista_vacia = []
numero_alumnos = 6

if numero_alumnos > 3:
    lista_vacia.append(numero_alumnos)
print(lista_vacia)

[6]

In [175]:
lista_vacia2 = []
numero_hijos = 3

padres = ['Lola', 'Maria', 'Pablo']
if  'Lola' in padres:
    lista_vacia2.append('Lola')

In [177]:
'Lola' in padres
print(lista_vacia2)

['Lola']

In [179]:
if numero_peras != 0:
    print('me voy a comer una pera')
else:
    print('tengo que comprar peras')

me voy a comer una pera

In [182]:
dias_semana = ['lunes', 'martes', 'miercoles', 'jueves', 'viernes']

if 'sabado' in dias_semana:
    print('Ya tenemos fecha')
else:
    print('Añadimos el próximo día')
    dias_semana.append('sabado')

print(dias_semana)

Añadimos el próximo día
['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado']

In [183]:
if 'sabado' in dias_semana:
    print('Ya tenemos fecha')
else:
    print('Añadimos el próximo día')
    dias_semana.append('sabado')

Ya tenemos fecha

In [184]:
if numero_peras != 0:
    print('me voy a comer una pera')
elif numero_peras < 0:
    print('no puedes tener un número de peras negativo')
else:
    print('tengo que comprar peras')

me voy a comer una pera

In [186]:
numero_peras2 = -5

if numero_peras2 != 0:
    print('me voy a comer una pera')
elif numero_peras2 < 0:
    print('no puedes tener un número de peras negativo')
else:
    print('tengo que comprar peras')

me voy a comer una pera

In [187]:
if numero_peras2 < 0:
    print('no puedes tener un número negativo')
elif numero_peras2 != 0:
    print('me comeré una pera')
else:
    print('se jodio to')

no puedes tener un número negativo

In [200]:
lista_pares = []
lista_impares = []

numero_usuario = int(input('Dime un número del 0 al 10'))
print(numero_usuario)
print(type(numero_usuario))

### se usa % para calcular el resto

5
<class 'int'>

In [189]:
13 % 2

1

In [201]:
if numero_usuario <= 0:
    print('no podemos hacer nada con este #')
elif numero_usuario % 2 != 0:
    lista_impares.append(numero_usuario)
else:
    lista_pares.append(numero_usuario)

print(f'lista de pares{lista_pares}')
print(f'lista de impares{lista_impares}')

### se alimenta de la anterior, luego de ejercutarla hay que actualizar acá

lista de pares[]
lista de impares[5]

In [202]:
lista__par = []
lista_impar = []

In [216]:
num_user = int(input('dime un num del 1-9'))
print(num_user)

5

In [217]:
if num_user <= 0:
    print('no hacemos nada')
elif num_user % 2 == 0:
    lista__par.append(num_user)
    print('el numero es par')
else:
    lista_impar.append(num_user)
    print('el numero es impar')

el numero es impar

In [218]:
print(lista__par)
print(lista_impar)

[6, 6, 6]
[7, 5]

In [219]:
if num_user > 0:
    print('tenemos que separar entre pares e impares')
    if num_user % 2 == 0:
        print('es par')
        lista__par.append(num_user)
    else:
        print('es impar')
        lista_impar.append(num_user)

else:
    print('es un numero negativo')

tenemos que separar entre pares e impares
es impar

In [221]:
temp_min = int(input('Cual es la temperatura minima?'))
temp_max = int(input('Cual es la temperatura maxima?'))

print(temp_min)
print(temp_max)

2
10

In [222]:
if temp_min < 5 and temp_max < 15:
    print('Estamos en invierno')

Estamos en invierno

In [ ]:
0-25: "A"
26-50: "B"
51-75: "C"
76-100: "D"

In [227]:
nota = int(input('Qué nota has sacado?'))

if nota <= 25:
    print("tu nota es 'A'")
elif nota >= 26 and nota <= 50:
    print('la nota es "B"')
elif nota >= 51 and nota <= 75:
    print('la nota es "C"')
else:
    print('la nota es "D"')

la nota es "D"

In [232]:
numero = int(input('Elige un numero para iniciar la cuenta atrás'))
print(numero)

while numero > 0:
    print(f'El numero es {numero}')
    numero -= 1
    print(f'El número después de restar es {numero}')

### Cuenta atrás

7
El numero es 7
El número después de restar es 6
El numero es 6
El número después de restar es 5
El numero es 5
El número después de restar es 4
El numero es 4
El número después de restar es 3
El numero es 3
El número después de restar es 2
El numero es 2
El número después de restar es 1
El numero es 1
El número después de restar es 0

In [5]:
### Bucle infinito

opcion = True

while opcion:

    letra = input('elige una letra: "a", "b", "c", "d"').lower()

    if letra == 'a' or letra == 'A':
        print('Has elegido la "a"')
    elif letra == 'b':
        print('has elegido la "b"')
    elif letra == 'c':
        print('has elegido la "c"')
    elif letra == 'd':
        print('has elegido la "d"')
    else:
        print('no has elegido la letra correcta')
        opcion = False

Has elegido la "a"
has elegido la "b"
has elegido la "c"
has elegido la "d"
has elegido la "d"
no has elegido la letra correcta

In [6]:
cuadrados = [x**2 for x in range(10)]
print(cuadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
# Definimos dos listas
nombres = ["Alice", "Bob", "Charlie"]
edades = [25, 30, 35]

# Usamos zip() para combinar las listas
combinado = zip(nombres, edades)

# Iteramos sobre el resultado de zip()
for nombre, edad in combinado:
    print(nombre, edad)

Alice 25
Bob 30
Charlie 35

In [2]:
ciudades = ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']

print(ciudades)

['Madrid', 'Barcelona', 'Valencia', 'Sevilla']

In [3]:
for i in ciudades:
    print(i)
### Cada vez que pase por un elemento, me escriba el mismo elemento

Madrid
Barcelona
Valencia
Sevilla

In [11]:
for i in ciudades:
    print('Estoy iterando por', i.upper())
    print('La longitud de cada palabra-ciudad es', len(i))
    print('\n')
print('Aquí se acaba el bucle for')

Estoy iterando por MADRID
La longitud de cada palabra-ciudad es 6


Estoy iterando por BARCELONA
La longitud de cada palabra-ciudad es 9


Estoy iterando por VALENCIA
La longitud de cada palabra-ciudad es 8


Estoy iterando por SEVILLA
La longitud de cada palabra-ciudad es 7


Aquí se acaba el bucle for

In [12]:
ciudades_pequeñas = []
ciudades_grandes = []

for ciudad in ciudades:
    if len(ciudad) < 8:
        ciudades_pequeñas.append(ciudad)
    else:
        ciudades_grandes.append(ciudad)

print(ciudades_pequeñas)
print(ciudades_grandes)

['Madrid', 'Sevilla']
['Barcelona', 'Valencia']

In [14]:
for indice in range(4):
    print(indice)
    print(ciudades[indice])

### Se mantiene el range en la misma cantidad de elementos.
# De esta forma accedemos a los elementos por su índice

0
Madrid
1
Barcelona
2
Valencia
3
Sevilla

In [19]:
tupla_mov = ('rápido', 'lento', 'normal')
lista_mov = []

for movimiento in tupla_mov:
    print(movimiento)
    lista_mov.append(movimiento)
### Llenar una lista con elementos de tupla

rápido
lento
normal

In [20]:
lista_mov

['rápido', 'lento', 'normal']

In [25]:
set_numeros = {4,10,7,5}
resultado = 0

for num in set_numeros:
    print(num)
    resultado += num
print(f'El resultado de la suma de los elementos es: {resultado}')

10
4
5
7
El resultado de la suma de los elementos es: 26

In [26]:
### iterar por diccionarios
dicc = {'lola':34,
        'pepe': 21,
        'luis':23,
        'lara':22,
        'jose':24,
        'irene':33}

In [27]:
dicc

{'lola': 34, 'pepe': 21, 'luis': 23, 'lara': 22, 'jose': 24, 'irene': 33}

In [29]:
for clave, valor in dicc.items():
    print(clave,'----->',valor)

lola -----> 34
pepe -----> 21
luis -----> 23
lara -----> 22
jose -----> 24
irene -----> 33

In [32]:
for nombre in dicc:
    print(nombre)

lola
pepe
luis
lara
jose
irene

In [38]:
menor_25 = []

for k,v in dicc.items():
    if dicc[k] < 25:
        menor_25.append(v)

In [39]:
menor_25

[21, 23, 22, 24]

In [41]:
numeros = [12,33,29,50,77,42,64]

pares = []
impares = []

for numero in numeros:
    if numero % 2 == 0:
        print(f'El numero {numero} es par')
        pares.append(numero)
    else:
        print(f'El numero {numero} es impar')
        impares.append(numero)

El numero 12 es par
El numero 33 es impar
El numero 29 es impar
El numero 50 es par
El numero 77 es impar
El numero 42 es par
El numero 64 es par

In [43]:
print(impares)

[33, 29, 77]

In [44]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [49]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [50]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [52]:
for i in range(0,12,2):
    print(i)

0
2
4
6
8
10

In [53]:
listadepares = []

for i in range(0,11,2):
    listadepares.append(i)
print(listadepares)

[0, 2, 4, 6, 8, 10]

In [54]:
### zip combinar elementos de 2 o más iterables

lista_nombres = ['luis', 'lara', 'jose', 'irene']
lista_nombres

['luis', 'lara', 'jose', 'irene']

In [55]:
tupla_nombres = (70,58,88,65)

tupla_nombres

(70, 58, 88, 65)

In [58]:
dict(zip(lista_nombres,tupla_nombres))

{'luis': 70, 'lara': 58, 'jose': 88, 'irene': 65}

In [59]:
for name, peso in zip(lista_nombres,tupla_nombres):
    print(f'{name} pesa {peso}')

luis pesa 70
lara pesa 58
jose pesa 88
irene pesa 65

In [60]:
type(zip(lista_nombres,tupla_nombres))

zip

In [61]:
### enumerate para ver el índice y el valor. Devuelve una tupla
lista_billetes = [5,10,20,50,100,200,500]

lista_billetes

[5, 10, 20, 50, 100, 200, 500]

In [62]:
for indice,elemento in enumerate(lista_billetes):
    print(f'El indice de mi cosa iterable es {indice} y el valor de mi cosa iterable es {elemento}')

El indice de mi cosa iterable es 0 y el valor de mi cosa iterable es 5
El indice de mi cosa iterable es 1 y el valor de mi cosa iterable es 10
El indice de mi cosa iterable es 2 y el valor de mi cosa iterable es 20
El indice de mi cosa iterable es 3 y el valor de mi cosa iterable es 50
El indice de mi cosa iterable es 4 y el valor de mi cosa iterable es 100
El indice de mi cosa iterable es 5 y el valor de mi cosa iterable es 200
El indice de mi cosa iterable es 6 y el valor de mi cosa iterable es 500

In [63]:
lista_billetes[4]

100

In [64]:
lista_nomes = ['ana', 'jaime', 'silvia','cris']

for i,e in enumerate(lista_nomes):
    print(f'el indice de cada uno es {i} y su nombre es {e}')

el indice de cada uno es 0 y su nombre es ana
el indice de cada uno es 1 y su nombre es jaime
el indice de cada uno es 2 y su nombre es silvia
el indice de cada uno es 3 y su nombre es cris

In [66]:
### list comprehension

listanum = []

for i in range(100):
    listanum.append(i)

In [68]:
print(len(listanum))

100

In [69]:
listanum_2 = [i for i in range(100)]
listanum_2

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [70]:
numbers = [1,2,3,4,5,6]
pairs = []

for i in numbers:
    if i % 2 == 0:
        pairs.append(i)

In [71]:
pairs

[2, 4, 6]

In [73]:
pairs2 = [i for i in numbers if i % 2 == 0]
pairs2

### if se queda al final
### tomo el primero paso del for, luego el segundo y empiezo con i

[2, 4, 6]

In [74]:
list_check = []
for i in numbers:
    if i % 2 == 0:
        list_check.append('par')
    else:
        list_check.append('impar')

In [75]:
['par' if i % 2 == 0 else 'impar' for i in numbers]

### if pasa al principip

['impar', 'par', 'impar', 'par', 'impar', 'par']

In [76]:
nombres_1 = ['lara', 'luis', 'irene']
nombres_1

['lara', 'luis', 'irene']

In [77]:
super_lista = [list_check, numbers,nombres_1]

In [78]:
super_lista

[['impar', 'par', 'impar', 'par', 'impar', 'par'],
 [1, 2, 3, 4, 5, 6],
 ['lara', 'luis', 'irene']]

In [81]:
### Introducir varias listas en una vacía
lista_plana = []

for lista in super_lista:
    for elemento in lista:
        lista_plana.append(elemento)

In [82]:
lista_plana

['impar',
 'par',
 'impar',
 'par',
 'impar',
 'par',
 1,
 2,
 3,
 4,
 5,
 6,
 'lara',
 'luis',
 'irene']

In [83]:
lista_plana2 = [elemento for lista in super_lista for elemento in lista]

In [84]:
lista_plana2

['impar',
 'par',
 'impar',
 'par',
 'impar',
 'par',
 1,
 2,
 3,
 4,
 5,
 6,
 'lara',
 'luis',
 'irene']

In [85]:
# Definimos una función con parámetros
def saludar(nombre):
    print(f"Hola, {nombre}!")

# Llamamos a la función con un argumento
saludar("Alice")

Hola, Alice!

In [86]:
# Definimos una función recursiva para calcular el factorial
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Llamamos a la función recursiva
print(factorial(5))  # Salida: 120

120

In [87]:
# Definimos una función que acepta *args y **kwargs
def mostrar_argumentos(*args, **kwargs):
    print("args:", args)
    print("kwargs:", kwargs)

# Llamamos a la función con múltiples argumentos
mostrar_argumentos(1, 2, 3, nombre="Alice", edad=30)

args: (1, 2, 3)
kwargs: {'nombre': 'Alice', 'edad': 30}

In [88]:
### funciones

def nombre_funcion(parametro):
    """descripcioón de la función
    
    Args: 
        parametro: el numero que será convertido

    Returns: 
        bbb
        """
    
    codigo_que_hace_la_funcion
    return lo_que_queremos_devolver

In [89]:
### Defino mi función, queda a lo global

def cuadrado(numeral):
    """ función que calcula el cuadraro de un número
    
    Args:
        numero(int,float): un entero o deciamal
        
    Returns:
        int,float: el cuadrado del numeral""" 
    
    
    return numeral**2

### numeral es un parámetro

In [90]:
cuadrado(2)

### el # 2 es un argumento

4

In [91]:
a = cuadrado(3)

In [92]:
a

9

In [93]:
variable_global = 'Andrés'

In [94]:
variable_global

'Andrés'

In [95]:
def funcion_ejemplo():
    variable_local = 'Andrés'
    return variable_local

In [96]:
variable_global

'Andrés'

In [98]:
funcion_ejemplo()

'Andrés'

In [99]:
def sumar_2num(num1,num2):
    resultado = num1 + num2
    return resultado

In [101]:
suma = sumar_2num(1,2)
print(suma)

### Aquí llamo la función con una variable

3

In [102]:
sumar_2num(5,10)

### Llamo la función con sus argumentos

15

In [106]:
def funcion_sinp():
    x = 2
    print(f'El valor de x dentro de la función es: {x}')

### En este caso, no se tiene return

In [107]:
funcion_sinp()

El valor de x dentro de la función es: 2

In [108]:
def es_impar(lista):
    """funcion que verifica si los números de la lista son impares
    
    Args:
        lista (list): lista de numeros
        
    Returns:
        list: lista de numeros impares de la lista introducida"""
    impairs = []
    for i in lista:
        if i % 2 != 0:
            impairs.append(i)
        else:
            pass
    return impairs

In [113]:
primer_lista = [2,5,3,7,8,10]
segunda_lista = [1,4,6,9,11,13]

print(es_impar(primer_lista))
print(es_impar(segunda_lista))

[5, 3, 7]
[1, 9, 11, 13]

In [115]:
def perimetro_rectangulo(longitud,altura):
    """calcular el perimetro de un rectangulo desde su longitud y anchura
    
    Args: 
        longitud (int or float): longitud r
        altura (int or float): 
    Returns:
        intor float: perimentro)"""
    perimetro = 2 * (longitud + altura)
    return perimetro

In [116]:
perimetro_rectangulo(5,7)

24

In [117]:
longitud_rec = 5
altura_rec = 7

perimetro_rectangulo(longitud_rec,altura_rec)

24

In [118]:
def compra(producto="comida para gatos"):
    return producto

In [120]:
compra_merca = compra()

In [121]:
print(compra_merca)

comida para gatos

In [122]:
compra_merca2 = compra("golosina")

In [123]:
print(compra_merca2)

golosina

In [124]:
def rebaja(precio, descuento = 0):
    total = precio - descuento
    return total

In [125]:
total1 = rebaja(100)

In [126]:
print(total1)

100

In [127]:
total2 = rebaja(100,10)
print(total2)

90

In [128]:
### funciones con args

def nombre_animales(nombre1,nombre2,nombre3):
    print(nombre1)
    print(nombre2)
    print(nombre3)

In [129]:
nom1 = 'perro'
nom2 = 'gato'
nom3 = 'pajarito'
nombre_animales(nom1,nom2,nom3)

perro
gato
pajarito

In [130]:
nom4 = 'panda'
nombre_animales(nom1,nom2,nom3,nom4)

TypeError: nombre_animales() takes 3 positional arguments but 4 were given

In [135]:
def nombre_animales2 (*nombre):
    print(nombre)

In [136]:
nombre_animales2(nom1)

('perro',)

In [138]:
nombre_animales2(nom1,nom2,nom3,nom4)

('perro', 'gato', 'pajarito', 'panda')

In [139]:
nom5 = 'roedor'

In [141]:
nombre_animales2(nom5,nom2,nom3)

('roedor', 'gato', 'pajarito')

In [1]:
def alumnos (nombre,nacimiento,altura):
    print(nombre)
    print(nacimiento)
    print(altura)

In [143]:
alumnos("pepe","27-12-2001", 1.76)

pepe
27-12-2001
1.76

In [145]:
alumnos("pepe","27-12-2001", 1.76, 80.2)

TypeError: alumnos() takes 3 positional arguments but 4 were given

In [146]:
### manera de hacer uso de los kwargs


def alumnos2(**alumno):
    for k,v in alumno.items():
        print(f'{k}----->{v}')

In [150]:
alumnos2(nombre = 'pepe', edad = 23, color_pelo = 'marron')

nombre----->pepe
edad----->23
color_pelo----->marron

In [155]:
# Recursividad o función recursiva
### Se llama así misma

def cuenta_atras(inicio):
    print(inicio)
    anterior = inicio -1
    if anterior >0:
        cuenta_atras(anterior)

In [158]:
cuenta_atras(3)

3
2
1

In [159]:
tecla = '25'
print(type(tecla))

<class 'str'>

In [160]:
tecla_alfan = int(tecla)

In [161]:
print(tecla_alfan)

25

In [162]:
type(tecla_alfan)

int

In [163]:
cadena = '10'
tipo = type(cadena)

print(tipo)
print(cadena)
print('-----')
numero = int(cadena)
print(type(numero))
print(numero)
numero += 1

print(cadena)

<class 'str'>
10
-----
<class 'int'>
10
10

In [166]:
# Paso 1: Declarar la variable 'cadena'
cadena = '10'

# Paso 2: Obtener el tipo de dato de 'cadena'
tipo = type(cadena)

# Paso 3: Imprimir el tipo de dato
print(tipo)  # Imprimirá <class 'str'>

# Paso 4: Convertir 'cadena' a entero
numero = int(cadena)

# Paso 5: Incrementar el valor de 'numero'
numero += 1  # Ahora numero vale 11

print(cadena)
print(numero)

<class 'str'>
10
11

In [7]:
from datetime import datetime

dia = datetime.now()
print(dia)

2024-09-19 19:21:09.929637

In [8]:
type(dia)

datetime.datetime

In [9]:
dia.month

9

In [10]:
peso = 75
altura = 1.70

imc = peso/altura**2

In [11]:
print(imc)

25.95155709342561

In [12]:
coordenadas = (10,20)
x,y = coordenadas

In [13]:
x

10

In [14]:
y

20

Escribe un programa que permita al usuario ingresar números hasta que decida dejar de hacerlo. El programa debe almacenar solo los números únicos en una lista. Si se quiere detener, indicar con -1

In [18]:
numeros_unicos = []
terminar = False

while not terminar:
    numeros = int(input('Dame el número que más te guste'))
    if numeros == -1:
        terminar = True
    elif numeros not in numeros_unicos:
        numeros_unicos.append(numeros)

print(f'La lista de numeros únicos es{numeros_unicos}')

La lista de numeros únicos es[5, 3, 77, 88]

In [22]:
numeros_uniques = []

numberu = int(input('Dame el número que más te guste'))
while numberu <-1 or numberu >=0:
    numeros_uniques.append(numberu)
else:
    print('Hasta aquí todo amigos')


print('La lista está compuesta por los siguientes numeros:', numeros_uniques)

KeyboardInterrupt: