In [4]:
# Importamos las librerías que necesitamos
import numpy as np
# Librerías de extracción de datos
# -----------------------------------------------------------------------
from bs4 import BeautifulSoup
import requests
import re
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
from tqdm import tqdm
import random
import time

In [5]:
# prueba para uno
url_salarios_lebron = f'https://hoopshype.com/player/lebron-james/salary/'
# Paso 2
response = requests.get(url_salarios_lebron)
# Paso 3
if str(response) == '<Response [200]>':
    print(response.status_code)
    # Paso 4
    sopa = (BeautifulSoup(response.content, 'html.parser'))
    time.sleep(random.uniform(1,3))
else: 
    print('Hay un error')

200

In [6]:
lista = sopa.findAll('div', {'class' : 'player-payroll'})
#aqui saco la sopa de datos con las dos tablas

In [7]:
# al tener dos tablas(una a futuro y otra del pasado, busco la del pasado)
for i in lista:
    if i.find('span').text == 'Past Salaries':
        tabla_salarios_pasado = i.find('table')

In [8]:
filas = tabla_salarios_pasado.find("tbody").findAll('tr') # me quedo con las filas de informacion

In [9]:
len(filas)

21

In [10]:
lista_vacia = []
for fila in filas:
    valores = fila.find_all('td')
    temporada = valores[0].text.strip()
    equipo = valores[1].text.strip()
    salario = valores[2].text.strip()

    diccionario = {'Temporada': temporada,
               'Equipo': equipo,
               'Salario': salario}
    lista_vacia.append(diccionario)

In [11]:
df = pd.DataFrame(lista_vacia)

In [12]:
lebron_teams = {
    'Cleveland Cavaliers': 'CLE',
    'Miami Heat': 'MIA',
    'Los Angeles Lakers': 'LAL'
}

In [13]:
df['team_code'] = df['Equipo'].map(lebron_teams)

Repetimos el proceso para Jordan

In [14]:
# prueba para uno
url_salarios_jordan = f'https://hoopshype.com/player/michael-jordan/salary/'
# Paso 2
response_j = requests.get(url_salarios_jordan)
# Paso 3
if str(response_j) == '<Response [200]>':
    print(response_j.status_code)
    # Paso 4
    sopa_jordan = (BeautifulSoup(response_j.content, 'html.parser'))
    time.sleep(random.uniform(1,3))
else: 
    print('Hay un error')

200

In [15]:
lista_jordan = sopa_jordan.findAll('div', {'class' : 'player-payroll'})
#aqui saco la sopa de datos con las dos tablas

In [16]:
# al tener dos tablas(una a futuro y otra del pasado, busco la del pasado)
for i in lista_jordan:
    if i.find('span').text == 'Past Salaries':
        tabla_salarios_pasado_jordan = i.find('table')

In [17]:
filas_jordan = tabla_salarios_pasado_jordan.find("tbody").findAll('tr') # me quedo con las filas de informacion

In [18]:
len(filas_jordan)

10

In [19]:
lista_vacia_jordan = []
for fila in filas_jordan:
    valores_j = fila.find_all('td')
    temporada_j = valores_j[0].text.strip()
    equipo_j = valores_j[1].text.strip()
    salario_j = valores_j[2].text.strip()

    diccionario_j = {'Temporada': temporada_j,
               'Equipo': equipo_j,
               'Salario': salario_j}
    lista_vacia_jordan.append(diccionario_j)

In [20]:
df_jordan = pd.DataFrame(lista_vacia_jordan)

In [21]:
jordan_teams = {
    'Chicago Bulls': 'CHI',
    'Washington Wizards': 'WAS'
}

In [26]:
df_jordan['team_code'] = df_jordan['Equipo'].map(jordan_teams)

In [27]:
df_jordan

  Temporada              Equipo                     Salario team_code
0   2002/03  Washington Wizards    $1,030,000 ($1,746,871*)       WAS
1   2001/02  Washington Wizards    $1,000,000 ($1,714,095*)       WAS
2   1997/98       Chicago Bulls  $33,140,000 ($63,077,431*)       CHI
3   1996/97       Chicago Bulls  $30,140,000 ($58,685,292*)       CHI
4   1995/96       Chicago Bulls    $3,850,000 ($7,702,751*)       CHI
5   1994/95       Chicago Bulls    $3,850,000 ($7,936,957*)       CHI
6   1993/94       Chicago Bulls    $4,000,000 ($8,451,772*)       CHI
7   1992/93       Chicago Bulls    $4,000,000 ($8,704,964*)       CHI
8   1991/92       Chicago Bulls    $3,250,000 ($7,291,207*)       CHI
9   1990/91       Chicago Bulls    $2,500,000 ($5,871,997*)       CHI

In [28]:
df.to_csv('../datos/salarios_lebron.csv', index=False)
df_jordan.to_csv('../datos/salarios_jordan.csv', index=False)